*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(14, 22, 41);
    color: #f04;
    height: 60px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.box:hover{
    background-color: #cfc2c2;
}
.gameplay{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 32px;
    position: relative;
}
.gameinfo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gameinfo h1{
    margin-bottom: 10px;
}
.imgbox img{
    height: 250px;
    width: 0px;
    transition: width 0.2s ease-in;
}
.info{
    font-size: 30px;
}

#reset {
    cursor: pointer;
    margin: 10px 32px;
    width: 80px;
    height: 40px;
    background-color: #efeffe;
    border-radius: 5px;
    border: 2px solid #dedede;
    font-size: 16px;
}

#reset:hover{
    background-color: #d6dfda;
    border: 2px solid #bcbcbc;
    transition: all 0.5s ease-in-out;
}

.line{
    background-color: #000;
    width: 0;
    height: 3px;
    position: absolute;
    transition: width 0.5s ease-in-out;
}




/* *********************************** UTILITY CLASSES ******************************* */

.bl-0{
    border-left: none;
}
.br-0{
    border-right: none;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom: none;
}



/* *************************** MEDIA QUERIES **************************************** */

@media (max-width:1000px){
    .gameContainer{
        flex-direction: column;
        align-items: center;
    }
    .gameplay{
        margin: 3rem 0rem 5rem 0rem;
    }
    .gameinfo{
        
        padding: 0rem 1rem;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .gameplay{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
}